blockquote{
    border: solid 5px navy;
}

.mb-0{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif
}

.blockquote-footer{
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif
}

.navimg1{
    float: left;
    height: 75px
}

.navimg2{
    float: right;
    margin-top: -4.6rem;
    height: 75px
}